@page "/cartPage"
@inject ICartService cartService
@inject IDrinkService drinkService
@inject IFoodService foodService

<link href="/css/CartStyles.css" rel="stylesheet" />

<h3>CartPage</h3>

<div class="alert-container">
    @if (showAlert)
    {
        <div class="alert alert-success">
            Task is in process and will done! You can close this page!
        </div>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price ($)</th>
            <th>Added On</th>
            <th>Updated On</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in cartService.Orders)
        {
            <tr>
                <td>
                    <div class="order-image-container">
                        <img src="@order.ImageUrl" alt="Order Image" class="order-image" />
                    </div>
                </td>
                <td>@order.Name</td>
                <td>@order.Description</td>
                <td>$@order.Price</td>
                <td>@order.AddedOn.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@order.UpdatedOn.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>
                    <button class="btn btn-danger" @onclick="() => DeleteOrder(order.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    bool showAlert = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadOrders();
    }

    private async Task LoadOrders()
    {
        await cartService.LoadOrders();
    }

    private async Task DeleteOrder(int orderId)
    {
        await cartService.DeleteOrder(orderId);
        showAlert = true;
        StateHasChanged();

        await Task.Delay(2000);
        showAlert = false;
        StateHasChanged();
    }
}
