@page "/cartPage"
@inject ICartService cartService
@inject IDrinkService drinkService
@inject IFoodService foodService

<link href="/css/CartStyles.css" rel="stylesheet" />

<h3 style="text-align:center">CartPage</h3>

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price ($)</th>
            <th>Added On</th>
            <th>Updated On</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in cartService.Orders)
        {
            <tr>
                <td>
                    <div class="order-image-container">
                        <img src="@order.ImageUrl" alt="Order Image" class="order-image" />
                    </div>
                </td>
                <td>@order.Name</td>
                <td>@order.Description</td>
                <td>$@order.Price</td>
                <td>@order.AddedOn.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@order.UpdatedOn.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>
                    <button class="btn btn-danger" @onclick="() => DeleteOrder(order.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container mt-4">
    <h4>Checkout</h4>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" @bind="firstName" required />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" @bind="lastName" required />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" @bind="email" required />
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" @bind="address" required />
            </div>
        </div>
    </div>
    <button @onclick="() => CleanCart()" class="btn btn-primary">Order</button>
</div>

@if (showAlert)
{
    <div class="alert alert-success mt-4" role="alert">
        Your order has been sended!
    </div>
}


@code {
    bool showAlert = false;
    private string firstName = string.Empty;
    private string lastName = string.Empty;
    private string email = string.Empty;
    private string address = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadOrders();
    }

    private async Task LoadOrders()
    {
        await cartService.LoadOrders();
    }

    private async Task DeleteOrder(int orderId)
    {
        await cartService.DeleteOrder(orderId);
        showAlert = true;
        StateHasChanged();

        await Task.Delay(2000);
        showAlert = false;
        StateHasChanged();

        await LoadOrders();
    }

    private async Task CleanCart()
    {
        try
        {
            if (string.IsNullOrEmpty(firstName) || string.IsNullOrEmpty(lastName) || string.IsNullOrEmpty(email) || string.IsNullOrEmpty(address))
            {
                showAlert = false;
                return;
            }

            await cartService.CleanCart();
            await cartService.LoadOrders();
            showAlert = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error deleting game: {ex.Message}");
        }
    }
}
