@page "/drinkList"
@inject IDrinkService DrinkService

<h3>DrinkList</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price ($)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var drink in DrinkService.Drinks)
        {
            <tr>
                <td>@drink.Id</td>
                <td><img src="@drink.ImageUrl" alt="Drink Image" class="drink-image" /></td>
                <td>@drink.Name</td>
                <td>@drink.Description</td>
                <td>@drink.Price</td>
            </tr>
        }
    </tbody>
</table>

<style>
    .drink-image {
        width: 100px;
        height: auto;
    }
</style>

@code {
    protected override async Task OnInitializedAsync()
    {
        await DrinkService.GetDrinks();
    }
}