@page "/foodList"
@inject IFoodService FoodService

<h3>FoodList</h3>

<style>
    .table {
        border-collapse: collapse;
        width: 100%;
    }

        .table th, .table td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

    .food-image {
        width: 100px;
        height: auto;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price ($)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var food in FoodService.Foods)
        {
            <tr>
                <td>@food.Id</td>
                <td><img src="@food.ImageUrl" alt="Food Image" class="food-image" /></td>
                <td>@food.Name</td>
                <td>@food.Description</td>
                <td>@food.Price.ToString("0.00")</td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await FoodService.GetFoods();
    }

}
